<br>
<br>
<br>
<br>
<br>
<br>

<h5><strong>Commerciales</strong> </h5>
<table class="table table-borderless">
    <tr>
   
       <ul class="list-group list-group-horizontal-md">
        <td>
             <li  class="list-group-item">       
           <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem; height: 20rem;">
             <img style="height: 12.5rem;" src="assets/art-malagasy.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">ART-MALAGASY</h5>
               <hr>
               <p class="card-text">Madagascar</p>
             </div>
             <a routerLink="/add-techno" id="lien" style="bottom: right;" class="btn btn-primary">voir plus</a>
           </div>
       </li>
     </td>
     <td>
 <li  class="list-group-item">
           <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;  height: 20rem;">
             <img style="height: 200px; width: 250px;" src="assets/info.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">MATERIELS </h5>
               <hr>
               <p class="card-text">inforatique & outils</p>
             </div>
             <a routerLink="/add-techno" id="lien" style="bottom: right;" class="btn btn-primary ">voir plus</a>
           </div>
     </li>
   </td>
     <td> 
     <li  class="list-group-item">
           <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;  height: 20rem;">
             <img style="height: 12.5rem;" src="assets/riz.jpg" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">RIZIERE </h5>
               <hr>
               <p class="card-text">Alouer & À vendre</p>
             </div>
             <a routerLink="/add-techno" id="lien" style="bottom: right;" class="btn btn-primary " id="btn">voir plus</a>
           </div>
     </li>
   </td>
     <td>
     <li  class="list-group-item">
           <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;  height: 20rem;">
             <img style="height: 12.5rem;" src="assets/commune.png" class="card-img-top" alt="...">
             <div class="card-body">
               <h5 class="card-title">COMMUNE</h5>
               <hr>
               <p class="card-text">Provinces à Madagascar.</p>
             </div>
             <a routerLink="/add-techno" id="lien" style="bottom: right;" class="btn btn-primary">voir plus</a>
           </div>
     </li>
   </td>
     </ul> 
    </tr> 
  </table>  
             <hr>
          <hr>
     <h5><strong>Hebèrgements et Visite </strong> </h5>

     <table class="table table-borderless">
      <tr>
     
         <ul class="list-group list-group-horizontal-md">
          <td>
               <li  class="list-group-item">       
             <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem; height: 20rem;">
               <img style="height: 12.5rem;" src="assets/tol.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title">TOLIARA</h5>
                 <hr>
                 <p class="card-text">Touristique & Réstaurent</p>
               </div>
               <a routerLink="/add-techno" id="lien" style="bottom: right;" class="btn btn-primary">voir plus</a>
             </div>
         </li>
       </td>
       <td>
   <li  class="list-group-item">
             <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;  height: 20rem;">
               <img style="height: 200px; width: 250px;" src="assets/saller.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title">NOSY BE</h5>
                 <hr>
                 <p class="card-text">Touristique & Réstaurent </p>
               </div>
               <a routerLink="/add-techno" id="lien" style="bottom: right;" class="btn btn-primary ">voir plus</a>
             </div>
       </li>
     </td>
       <td> 
       <li  class="list-group-item">
             <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;  height: 20rem;">
               <img style="height: 12.5rem;" src="assets/images.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title"> ANTANANARIVO </h5>
                 <hr>
                 <p class="card-text">Capital & Parc</p>
               </div>
               <a routerLink="/add-techno" id="lien" style="bottom: right;" class="btn btn-primary " id="btn">voir plus</a>
             </div>
       </li>
     </td>
       <td>
       <li  class="list-group-item">
             <div class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 18rem;  height: 20rem;">
               <img style="height: 12.5rem;" src="assets/moro.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title">MORONDAVA</h5>
                 <hr>
                 <p class="card-text">Touristique & Réstaurent</p>
               </div>
               <a routerLink="/add-techno" id="lien" style="bottom: right;" class="btn btn-primary">voir plus</a>
             </div>
       </li>
     </td>
       </ul> 
      </tr> 
    </table> 


