<div class="shadow-lg p-3 mb-5 bg-white rounded" id="card">
   <div class="container-fluid"><strong> Nom :</strong> {{tech.technoname}}</div>
    <div class="container-fluid"><strong>Prenom :</strong> {{tech.caterne}}</div>
    <div class="container-fluid"><strong>Date :</strong> {{tech.date}}</div>
    <div class="container-fluid"><strong>Province :</strong> {{tech.category}}</div>
    <div class="container-fluid"><strong>Image :</strong> {{tech.exampleFormControlFile1}}</div>
    <div class="container-fluid"><strong>Message :</strong> {{tech.details}}</div>
    
    
<br>
<button  style="border-radius: 2rem;"  (click)="delete(tech)" id="click"> <p style="color: black;"><i class="fas fa-trash"></i>&nbsp; Suppr</p></button>

</div> 
