<br>
<br>
<br>
<br>
<br>
<br>

<form id="zah" class="container">
        
    <div  class="form-group" style="height:20rem ; width: 40rem;  font-size: 1rem; ">
       <strong><p style="font-size: 2rem;">Entrez votre compte google</p></strong>

          <a href="creat.html" style="float: right; font-size: 1rem;" class="btn btn-succés">Create new account </a> <br>
       <hr>
    <br>
<form>
  <div class="form-group">
    <i class="fas fa-user"></i>&nbsp;<label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="username@gmail.com" required>
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <i class="fa fa-key fa-fw"></i>&nbsp;<label for="exampleInputPassword1">Password</label>
    <span class="input-group-addon"> <input type="password" class="form-control" id="pa" placeholder="Password" required ></span>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" name="case" onchange="aa(x)" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">show password</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button><br>

  <a href="getpassword.html" style=" font-size: 1rem;" class="btn btn-succés">For get password ?</a> <br>
  <a href="creat.html" style="font-size: 1rem;" class="btn btn-succés">Create new account </a> <br>
</form>
</div>

</form>


<script>
function aa(x)
{
var pwd=x.checked

if (pwd)
{
  document.getElementById('pa').type="text";
}
else
{
  document.getElementById('pa').type="password";
}
}


</script>
